body {
    background-image: url("fundo2.jpg");
}

#tarefa{
    background-color: white;
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
    border: 2px;
    border: solid;
    border-color: #e6b3ff;
    border-radius: 5px;
}

div h1 {
    color: #9900cc/*#206020*/;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px;
}



div button {
    background-color: #e6b3ff;
    border-radius: 12px;
}



#lista-tarefas {
    background-color: white;
    width: 50%;
    border: solid;
    border-color: #e6b3ff;
    border: 2px 2px;
    padding: 10px;
    border-radius: 5px;
    height: auto;
    margin: 10px auto;
    
}

footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    font-size: small;
    color:  #f9e6ff/* #206020*/;
}

footer a {
    color: #ff9999;
}