body{
   background-image: url("floral2.jpg");
}

#tarefa{
    background-color: white;
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
    border: 2px;
    border: solid;
    border-color: #ff9999;
    border-radius: 5px;
}

div h1 {
    color: #206020;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div button {
    background-color: #8cd98c;
    border-radius: 12px;
}

#lista-tarefas {
    background-color: white;
    width: 50%;
    border: solid;
    border-color: #ff9999;
    border: 2px 2px;
    padding: 10px;
    border-radius: 5px;
    height: auto;
    margin: 10px auto;
    
    
    
}